
#search{

	margin-bottom:30px;
	margin-left: 50px;
	border-bottom: 1px solid #fff;
	background: #fff;
	outline: none; 
	color: #000000;
	height: 30px;
	font-size: 18px;
	border-radius: 20px;	
}


#sc{
	background: #E2472F;
	color: #fff;
    height: 32px;
    bottom: 8%;
    left: 17%;
    border-style: none;
    border: 1px solid #fff;
    padding: 8px 8px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
}

#sc:hover{
   color: #fff;
   background: #ff8300;
}

footer{
	width: 100%;
	height: 60px;
	position: fixed;
	bottom: 0;
	background: #000000;
	border-radius: 20px;
	text-align: center;
}

img{
	border-radius: 30px;
}
body{
	margin: 0;
	padding: 0;
	background: #fff;

	background-size: cover;
	background-position: top;
	font-family: 'Roboto Slab', serif;
}



nav{
	border-radius: 20px;
	position: fixed;
	background: #fff;
	width: 100%;
	height: 80px;
	top: 0;
	left: 0;
	padding: 10px 50px;
	box-sizing: border-box;
	transition: .3s;
}

nav.black{
	background: #000000;
	height: 80px;
	padding: 10px 80px; 
	color: #fff;
}



.logo{
	padding: 0px 0px;
	height: 60px;
	float: left;
	font-size: 24px;
	transition: .3s;
}

input[type="text"]{
	margin-left: 100px;
	border: none;
	border-bottom: 1px solid rgba(0,0,0,0.5);
	background: transparent;
	outline: rgb(0,0,0); 
	color: #fff;
	height: 20px;
	font-size: 18px;
	}



nav ul{
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;


}

nav ul li{
	list-style: none;
}

nav ul li a{
	line-height: 80px;
	color: #000000;
	padding: 12px 30px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;

}


nav ul li a:focus{
	outline: none;
}


section .sec1{
	height: 100%;
	width: 100%;
}



.main_content{
	
	height: 1000px;
	margin-top: 100px;	
	width: 100%; /*Set the width of the entire website here */
	margin-right: auto;
	margin-left: auto; /* Margin-left and right are set to auto to center the container */
	margin-bottom: 80px;
	
}


.main_content, p{ 
	/*width: 900px;
	margin: 30px auto;
	text-align: justify;
	font-size: 20px;
	line-height: 30px;
	color: #000;*/
 }

img{
	margin: 0;
	padding: 0;
	width: 50px;
	height:40px;
	
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

	


nav ul li a:hover{	
	color: #8e44ad;
}


.selected-link {
	background: #E2472F;
	color: #fff;
	border-radius: 6px;
	border-spacing: initial;
}



