body{
	margin: 0;
	padding: 0;
	background: url("nairobi-kenya-wallpaper.jpg");
	background-size: cover;
	background-position: top;
	font-family: sans-serif;
}

.login{
	display: none; 
	width: 320px; 
	height: 550px;
	background: rgb(0,0,0,0.9);
	color: #fff;
	top: 50%;
	left: 50%;
	position: fixed;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
	z-index: 1;
}

.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

h1{
	margin: 0;
	padding:0 0  20px;
	text-align: center;
	font-size: 22px;
}

.login p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.login input{
	width: 100%;
	margin-bottom: 20px;
}

.login input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	color: #fff;
	height: 40px;
	font-size: 14px;
	}

.login input[type="submit"]{
	border: none;
	outline:none;
	height: 40px;
	background: #1c8adb;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;

}

.login input[type="submit"]:hover{
	cursor: pointer;
	background: #39dc79;
	color: #000;
}